@tailwind base;
@tailwind components;
@tailwind utilities;


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.profile{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dpHover .dpHoverContent{
    cursor: pointer;
    display: none;
}
.dpHover:hover .dpHoverContent{
    display: flex;
}
.dpHover img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.labeltag{
    margin-left: 0 !important;
}