<ngx-http-loader [loader]="loader.DEFAULT" [opacity]="1"[iconColor]="'skyblue'" [subTitle]="'Loading....'" [subTitleColor]="'white'"></ngx-http-loader>

<!-- component -->
<div class="flex flex-row ">
<aside>
    
    
    <div class="h-screen py-8 overflow-y-auto bg-white border-l border-r sm:w-64 w-60">
        <div class="flex items-center justify-start">
            <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
               type="button"
               class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-cyan-100 focus:outline-none focus:ring-2 focus:ring-gray-200  dark:hover:bg-gray-700 dark:focus:ring-gray-600">
               <span class="sr-only">Open sidebar</span>
               <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd"
                     d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                  </path>
               </svg>
            </button>
            <a routerLink="/" class="flex ml-2 md:mr-24">
               <span
                  class="DevDome self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-black px-5">DevDom</span>
            </a>

         </div>
        <div class="mt-8 space-y-4">
            <form class="flex items-center">   
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input [(ngModel)]="userName" name="userName" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  " placeholder="Search" required>
                </div>
            </form>
            <button (click)="chatroom(user._id)" *ngFor="let user of users|chatUser:'name':userName"  class="flex items-center w-full px-5 py-2 transition-colors duration-200  gap-x-2 hover:bg-gray-100 focus:outline-none border border-gray-600 ">
                <img *ngIf="user.image||user.googleimage else image" class="object-cover w-8 h-8 rounded-full" [src]="user.googleimage ? user.googleimage : 'http://localhost:4000/images/'+user?.image" alt="">
                <ng-template #image>
                    <img class="object-cover w-8 h-8 rounded-full" src="https://www.pngmart.com/files/22/User-Avatar-Profile-Background-Isolated-PNG.png" alt="">
                </ng-template>
                <div class="text-left rtl:text-right">
                    <h1 class="text-sm font-medium text-gray-700 capitalize ">{{user.userName}}</h1>
                </div>
            </button>

            
        </div>
    </div>
</aside>
    <div  style="width: 84% !important">
        <router-outlet></router-outlet>
    </div>
</div>


<!-- component -->
