<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
       <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
             <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
                type="button"
                class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-cyan-100 focus:outline-none focus:ring-2 focus:ring-gray-200  dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                   <path clip-rule="evenodd" fill-rule="evenodd"
                      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                   </path>
                </svg>
             </button>
             <a routerLink="/" class="flex ml-2 md:mr-24">
                <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="FlowBite Logo" /> -->
                <span
                   class="DevDome self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-black px-5">DevDom</span>
             </a>
 
          </div>
 
          <div class="flex items-center">
 
          </div>
       </div>
    </div>
 </nav>

 <div class="navdiv flex flex-row" style="height: 100px !important;">
    <div style="width: 30%;">
        <div class="listbox" >
            <div  class="list lg:max-w-full lg:flex cursor-pointer">
               <div
                  class="list  bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                  <div class="mb-6">
                     <div class="text-gray-900 font-bold text-xl mb-2">{{list?.title}}</div>
                     <p class="text-gray-700 text-base text-justify">{{list?.details}}</p>
                  </div>
                  <p class="font-semibold">Location :{{list?.location}}</p>
                  <p class="font-semibold mb-2">Expiry date: {{getexpdate(list?.expdate)}}</p>
                  <div class=" pt-2 pb-4">
                     <span *ngFor="let tag of list?.tag" class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded  ">#{{tag}}</span>                  
                  </div>
                  <div class="flex items-center">
                     <img class="w-10 h-10 rounded-full mr-4"
                        [src]="list?.userId?.image">
                     <div class="text-sm">
                        <p class="text-gray-900 leading-none">{{list?.userId?.userName}}</p>
                        <p class="text-gray-600">{{getexpdate(list?.date)}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
    <div class="map-wrap" style="width: 70%;">
        <a href="https://www.maptiler.com" class="watermark"><img
            src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"/></a>
        <div class="map" #map></div>
      </div>
 </div>

 