<section class="vh-100" style="background-color: black !important;">
    <div *ngIf="Response" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{Response}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="d-flex justify-content-center">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" (submit)="adsubmit()">
            <div class="d-flex flex-row align-items-center justify-content-center">
                <h1 class="mt-3 mb-5 text-white text-center" style="font-size: 42px !important;"><span style="color: red; " class="Timehead">D</span>EV<span class="Timehead">D</span>OM</h1>
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4" ng-contorller="myController">
              <input [(ngModel)]="data.email" name="email"  type="email" id="form3Example3" class="form-control" placeholder="Enter a valid email address" />
              <label class="form-label text-white" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3 ">
              <input [(ngModel)]="data.password" name="password" type="password" id="form3Example4" class="form-control" placeholder="Enter password"/>
              <label class="form-label text-white" for="form3Example4">Password</label>
            </div>
            <div class="text-center text-lg-start pt-2 d-flex flex-column align-items-center justify-content-center">
              <button type="submit" class="btn  btn-outline-light px-4 p-2">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    