.btn{
    padding: 5px 30px !important;
}
.Timehead{
    color: red;
    font-family:'Rock Salt';
}
.adminlog{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='10' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.newnav{
    padding: 0 !important;
}
.adminloginhead{
    font-family: monospace;
}