<div class="h-screen flex">
  <div class="seconddiv flex flex-1 flex-col justify-center md:content-center bg-sky-50">
    <div class=" space-y-5 max-w-md ">
      <div class=" flex flex-col">
        <h2 class="text-3xl md:text-4xl font-bold">Welcome</h2>
        <p class="text-md md:text-xl">Please enter your detials.</p>
      </div>
      <form  (submit)="submitsignup()" [formGroup]="signup" method="post">
        <div class="flex flex-col max-w-md space-y-3">
          <div *ngIf="iserror$" class="bg-red-100 border-l-4 border-red-500 rounded-b text-red-900 px-3 py-3 shadow-md" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20">
                  <path
                    d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                </svg></div>
              <div>
                <p class="font-bold">Error  !</p>
                <p class="text-sm">{{iserror$}}</p>
              </div>
            </div>
          </div>
          <label for="Username">Username</label>
          <input type="text" placeholder="Username" formControlName="username"
            class="input1 flex px-3 py-2 border-2 border-black rounded-lg  placeholder:font-normal"
            fdprocessedid="r5k8u"  required>
            <div *ngIf="signup.get('username')?.invalid && signup.get('username')?.touched" class="text-red-600">
              <p *ngIf="signup.get('username')?.hasError('required')">Username is required.</p>
              <p *ngIf="signup.get('username')?.hasError('pattern')">Mininum Length 4</p>
            </div>
          <label for="Email">Email</label>
          <input type="email" placeholder="Email" formControlName="email"
            class="input1 flex px-3 py-2 border-2 border-black rounded-lg  placeholder:font-normal"
            fdprocessedid="r5k8u" required>
            <div *ngIf="signup.get('email')?.invalid && signup.get('email')?.touched"  class="text-red-600">
              <p *ngIf="signup.get('email')?.hasError('required')">Email is required.</p>
              <p *ngIf="signup.get('email')?.hasError('pattern')">Email pattern</p>
            </div>
            <label for="Phone number">Phone number</label>
            <input type="number" placeholder="Phone number" formControlName="phonenumber"
              class="input1 flex px-3 py-2 border-2 border-black rounded-lg  placeholder:font-normal"
              fdprocessedid="r5k8u" required>
              <div *ngIf="signup.get('phonenumber')?.invalid && signup.get('phonenumber')?.touched"  class="text-red-600">
                <p *ngIf="signup.get('phonenumber')?.hasError('required')">phonenumber is required.</p>
                <p *ngIf="signup.get('phonenumber')?.hasError('pattern')">phonenumber is 10 digit | enter valid number</p>
              </div>
          <label for="Password">Password</label>
          <input type="password" placeholder="Password" formControlName="password"
            class="input1 flex px-3 py-2  border-2 border-black rounded-lg  placeholder:font-normal"
            fdprocessedid="r5k8u" required>
            <div *ngIf="signup.get('password')?.invalid && signup.get('password')?.touched"  class="text-red-600">
              <div *ngIf="signup.get('password')?.hasError('required')">Password is required.</div>
              <div *ngIf="signup.get('password')?.hasError('minlength')">Password must be at least 8 characters long.</div>
              <div *ngIf="signup.get('password')?.hasError('pattern')">Password must contain at least one uppercase letter, one lowercase letter, and one number.</div>
            </div>
            <label for="conformpassword">Confirm Password</label>
            <input type="password" placeholder="Conform password" formControlName="conformpassword"
              class="input1 flex px-3 py-2 border-2 border-black rounded-lg  placeholder:font-normal"
              fdprocessedid="r5k8u" required>
              <div class="text-red-600" *ngIf="passwordMismatch">Passwords do not match</div>
          <button type="submit"
            class="block w-full flex-none px-2 py-2  border-2 rounded-lg font-medium border-black bg-black text-white  mt-5 py-2 rounded-2xl hover:-translate-y-1 transition-all duration-500 text-white font-semibold ">Submit</button>
          <!-- <button
            class="flex items-center justify-center flex-none px-3 py-2 border-2 rounded-lg font-medium border-black relative hover:-translate-y-1 transition-all duration-500 bg-white"
            fdprocessedid="j201gf">
            <span class="pr-3">
              <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill="#EA4335 "
                  d="M5.26620003,9.76452941 C6.19878754,6.93863203 8.85444915,4.90909091 12,4.90909091 C13.6909091,4.90909091 15.2181818,5.50909091 16.4181818,6.49090909 L19.9090909,3 C17.7818182,1.14545455 15.0545455,0 12,0 C7.27006974,0 3.1977497,2.69829785 1.23999023,6.65002441 L5.26620003,9.76452941 Z">
                </path>
                <path fill="#34A853"
                  d="M16.0407269,18.0125889 C14.9509167,18.7163016 13.5660892,19.0909091 12,19.0909091 C8.86648613,19.0909091 6.21911939,17.076871 5.27698177,14.2678769 L1.23746264,17.3349879 C3.19279051,21.2936293 7.26500293,24 12,24 C14.9328362,24 17.7353462,22.9573905 19.834192,20.9995801 L16.0407269,18.0125889 Z">
                </path>
                <path fill="#4A90E2"
                  d="M19.834192,20.9995801 C22.0291676,18.9520994 23.4545455,15.903663 23.4545455,12 C23.4545455,11.2909091 23.3454545,10.5272727 23.1818182,9.81818182 L12,9.81818182 L12,14.4545455 L18.4363636,14.4545455 C18.1187732,16.013626 17.2662994,17.2212117 16.0407269,18.0125889 L19.834192,20.9995801 Z">
                </path>
                <path fill="#FBBC05"
                  d="M5.27698177,14.2678769 C5.03832634,13.556323 4.90909091,12.7937589 4.90909091,12 C4.90909091,11.2182781 5.03443647,10.4668121 5.26620003,9.76452941 L1.23999023,6.65002441 C0.43658717,8.26043162 0,10.0753848 0,12 C0,13.9195484 0.444780743,15.7301709 1.23746264,17.3349879 L5.27698177,14.2678769 Z">
                </path>
              </svg>
            </span>
            <span>Sign up with Google</span>
          </button> -->
          <appGoogleSigninButton class="Googlebutton" [selectable]="true" buttonText="Signin with Google" buttonTheme="outline" class="text-center border-2 rounded-lg font-bold border-black relative hover:-translate-y-1 transition-all duration-500 bg-white"></appGoogleSigninButton>
            <p class="account1 text-center">already have an account <a routerLink="/login" class="text-red-600 pr-3">
              Back to Sign in</a></p>
        </div>
      </form>
      <div class="flex justify-center flex-col m-auto text-center text-lg ">
        <div class="flex items-center justify-center  flex-wrap "><a href="https://www.linkedin.com"
            class="flex flex-none items-center justify-center rounded-full w-12 h-12 hover:bg-sky-100 transition-all "><svg
              width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <circle cx="4.983" cy="5.009" r="2.188" fill="currentColor"></circle>
              <path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                fill="currentColor"></path>
            </svg></a><a href="https://tailwindcomponents.com"
            class="flex flex-none items-center justify-center rounded-full w-12 h-12 hover:bg-sky-100 transition-all "><svg
              width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"
                fill="currentColor"></path>
            </svg></a><a href="https://github.com"
            class="flex flex-none items-center justify-center rounded-full w-12 h-12  hover:bg-sky-100 transition-all"><svg
              width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
                fill="currentColor"></path>
            </svg></a><a href="https://www.instagram.com"
            class="flex flex-none items-center justify-center rounded-full w-12 h-12 hover:bg-sky-100 transition-all "><svg
              width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"
                fill="currentColor"></path>
            </svg></a><a href="https://dev.to"
            class="flex flex-none items-center justify-center rounded-full w-12 h-12 hover:bg-sky-100 transition-all "><svg
              width="28" height="28" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.73 11.93C7.73 13.65 7.71 13.76 7.5 14C7.31 14.17 7.12 14.23 6.74 14.23L6.23 14.24L6.2 11.97L6.18 9.7H6.7C7.05 9.7 7.3 9.77 7.47 9.91C7.71 10.12 7.73 10.16 7.73 11.93M22 7.5V16.5C22 17.61 21.11 18.5 20 18.5H4C2.89 18.5 2 17.61 2 16.5V7.5C2 6.39 2.89 5.5 4 5.5H20C21.11 5.5 22 6.39 22 7.5M8.93 11.73C8.9 9.89 8.88 9.74 8.64 9.34C8.24 8.66 7.79 8.5 6.28 8.5H5V15.5H6.21C7.54 15.5 8.1 15.33 8.5 14.79C8.91 14.26 9 13.81 8.93 11.73M13.12 8.5H11.64C10.15 8.5 10.14 8.5 9.93 8.78S9.7 9.21 9.7 12V14.96L9.97 15.23C10.22 15.5 10.28 15.5 11.68 15.5H13.12V14.31L12.03 14.27L10.93 14.24V12.6L11.61 12.57L12.27 12.53V11.34H10.88V9.7H13.12V8.5M19 8.56C19 8.5 18.7 8.5 18.34 8.5L17.66 8.56L17.07 10.91C16.69 12.39 16.45 13.18 16.4 13.04C16.32 12.77 15.26 8.6 15.26 8.55C15.26 8.5 14.95 8.5 14.58 8.5H13.89L14.3 10.05C14.5 10.92 14.89 12.33 15.11 13.2C15.45 14.55 15.57 14.85 15.86 15.14C16.06 15.36 16.31 15.5 16.47 15.5C16.8 15.5 17.23 15.16 17.37 14.77C17.5 14.5 19 8.69 19 8.56Z"
                fill="currentColor"></path>
            </svg></a><a href="https://twitter.com"
            class="flex flex-none items-center justify-center rounded-full w-12 h-12 hover:bg-sky-100 transition-all "><svg
              width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"
                fill="currentColor"></path>
            </svg></a></div>
      </div>
    </div>
  </div>
  <div class="half hidden lg:flex w-full lg:w-3/5 login_img_section
    justify-around items-center">
    <div class="rectangle">
      <div class=" 
            bg-black 
            opacity-20 
            inset-0 
            z-0">
      </div>
      <div class="content w-full mx-auto px-20 flex-col items-center space-y-6">
        <!-- <h1 class="text-white font-bold text-4xl font-sans">New Here ?</h1> -->
        <h3 class="text-white mt-1 text-4xl font-semibold font-mono">Join millions worldwide 
          who automate their work
           using DevDome.</h3>
        <!-- <div class="flex justify-center lg:justify-start mt-6">
          <a href="#"
            class="hover:bg-indigo-700 hover:text-white hover:-translate-y-1 transition-all duration-500 bg-white text-indigo-800 mt-4 px-4 py-2 rounded-2xl font-bold mb-2">Get
            Started</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
